*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    background-color: aqua;
}
.heading{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 3rem;

}
#name, #email-id{
    text-align: center;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
}
